PORT=4000
MONGODB_URI=mongodb://localhost:27017/sunmega
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000

RESEND_API_KEY=your_resend_api_key_here

EMAIL_NO_REPLY=no-reply@sunmega.co.ke
EMAIL_NEWS=news@sunmega.co.ke
EMAIL_SUPPORT=support@sunmega.co.ke
EMAIL_QUOTES=quote@sunmega.co.ke
